#Ignore Local Test Folders
venv-blog/
*venv-blog/

#Ignore Apple System Files
.DS_Store

# Hugo Files
syloa-blog/
*syloa-blog/
syloa-blog-2/
*syloa-blog-2/
syloa-blog-hextra/
*syloa-blog-hextra/

# Private Notes
private-notes/
*private-notes/