  <hr>
  <h2 id="__comments">💬 Comments</h2>
  <script src="https://giscus.app/client.js"
          data-repo="syloa/syloa.github.io"
          data-repo-id="R_kgDORj8DMg"
          data-category="General"
          data-category-id="DIC_kwDORj8DMs4C44Ai"
          data-mapping="og:title"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="ko"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
{% endif %}